
@{
    ViewBag.Title = "OrderSuccess";
}

<h4 class="heading__h3 Order__success">
    Thanks! Your order has been successfull.Please click  @Html.ActionLink(" here ", "index", "product") to go Product Page !!!
</h4>